<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    <target name="standardLogFile" xsi:type="File"
            fileName="G:\Aplicaciones\MessageConverter\APP\MessageConverter.service.log"
            archiveEvery="Day"
            archiveFileName="G:\Aplicaciones\MessageConverter\APP\MessageConverter.service.{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            layout="${longdate} [${threadid:padding=2}] ${pad:padding=5:inner=${level:uppercase=true}} ${message} ${exception:format=tostring}"
            maxArchiveFiles="15"  />
  </targets>

  <rules>
    <logger name="standardLogFile" minlevel="Debug" writeTo="standardLogFile" />    
  </rules>
</nlog>